#============= hal_keymaster_default ==============
allow hal_keymaster_default firmware_file:dir { search };
allow hal_keymaster_default vfat:file { read open getattr };
