#============= qti_init_shell ==============
allow qti_init_shell bluetooth_data_file:file rw_file_perms;

allow qti_init_shell qmuxd:unix_stream_socket connectto;
allow qti_init_shell qmuxd_socket:dir create_dir_perms;
allow qti_init_shell qmuxd_socket:sock_file create_file_perms;

allow qti_init_shell touchpanel_sysfs:dir { rw_dir_perms setattr };
allow qti_init_shell touchpanel_sysfs:file { getattr setattr };

allow qti_init_shell shell_exec:file { getattr read };

allow qti_init_shell toolbox_exec:file { getattr execute read open };
dontaudit qti_init_shell toolbox_exec:file { execute_no_trans };
